<div class="element" data-id="{{name}}" data-tooltip="{{name}}: {{count}}">
  <span class="element-icon {{icon}}">
    <img src="styles/images/element-{{icon}}.png" class="img-circle {{icon}}">
  </span>

  <span class="element-count label label-default">
    {{count}}
  </span>
</div>
