<div class="element animate" data-id="{{name}}" data-tooltip="{{name}}: {{count}}">
  <span class="element-icon {{icon}}"></span>
  <span class="element-count label label-default">{{count}}</span>
</div>
