<li class="element" data-id="{{name}}">
<span class="element-icon {{icon}}">
	<img src="styles/images/element-{{icon}}.png" class="img-circle {{icon}}">
</span>

<span class="element-name">
  {{name}}
</span>

<span class="element-count">
  {{count}}
</span>
</li>
